table{
	border: 1px solid maroon;
}

td{
	border: 1px solid maroon;
	width: 55px;
	height: 55px;
	text-align: center;
	font-size: x-large;
}


.player{
	margin-top: 10px;
	margin-right: 30px;
}

.player[name="X"]{
	background-color: cadetblue;
}

.highlight{
	border: 5px solid greenyellow;
}

.player[name="0"]{
	background-color: cadetblue;
}

.highlight {
	border: 5px solid greenyellow;
}

.unhighlight{
	border: 1px none black;
}

.gameover{
	background-color: green;
	font-size: xx-large;
	font-style: normal;
}

.gamecontainer{
	margin: 20px;
	width: 500px;
	border: rebeccapurple;
}
.playAgain{
	background-color: darkcyan;
	color: blue;
	border: 2px solid #008CBA;
}

.playAgain:hover{
	background-color: #008CBA;
	color: white;
}